{% load static i18n %}

{{ formset.management_form }}
{{ formset.non_form_errors }}
<div class="table-responsive scrollbar">
    <table id="{{formset.prefix}}_formset" class="table table-shadow table-stripped items formset-table" data-prefix="{{formset.prefix}}">
{% for form in formset %}

  {% for error in form.non_field_errors %}
      <span class="text-danger small"><i class="fa fa-exclamation"></i> {% translate error %}</span>
  {% endfor %}
                                                        
    {% if forloop.first %}
        <thead><tr>
            {% for field in form.visible_fields %}
                {% if forloop.counter == 1 %}
                        <th style="min-width:200px;">{% if field.label|lower == 'delete' %} {% translate "Action" %} {% else %} {% translate field.label|capfirst %} {% endif %}</th>
                {% else %}
                        <th> {% if field.label|lower == 'delete' %} {% translate "Action" %} {% else %} {% translate field.label|capfirst %} {% endif %} </th>
                {% endif %}
            {% endfor %}
        </tr></thead>
        <tbody class="">
    {% endif %}

      <tr class="{% cycle row1 row2 %} formset {{formset.prefix}}">
        {% for field in form.visible_fields %}
          <td class="px-2 align-top mt-2" style="width:{{ field.field.widget.attrs.width }};">
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          {% endif %}
            {% if read_only %}
              {{ field.value }}
            {% else %}
              {% include 'components/forms/form-field.html' with field=field col_size=12 show_field_labels=False %}
            {% endif %}
          </td>
        {% endfor %}
      </tr>

{% endfor %}

</tbody>

</table>
</div>
<table id="{{formset.prefix}}_empty_form" style="display:none">
  {% include "components/forms/table-formset-form.html" with form=formset.empty_form field_size=field_size %}
</table>

